<ng-container *ngFor="let item of columns | keyvalue">
  <ng-container *ngIf="!edit_mode">
    {{ data[item.value] || "(No " + item.key + ")" }}
  </ng-container>
  <ng-container *ngIf="edit_mode">
    <input
      type="text"
      class="form-control"
      (keyup)="checkPendingChanges()"
      [(ngModel)]="data_edit[item.value]"
    />
    <br />
  </ng-container>
</ng-container>
<ng-container *ngIf="edit_mode">
  <div class="center">
    <button class="btn btn-outline-danger btn-sm" (click)="deleteData()">
      <i class="bi bi-trash"></i>
      Delete
    </button>
    <ng-container *ngIf="pending_changes">
      &nbsp;
      <button class="btn btn-outline-primary btn-sm" (click)="saveData()">
        <i class="bi bi-save"></i>
        Save
      </button>
    </ng-container>
  </div>
</ng-container>
