<div class="mb-2">
  <ng-container *ngFor="let item of columns | keyvalue">
    <ng-container *ngIf="!edit_mode">
      <ng-container [ngSwitch]="item.key">
        <ng-container *ngSwitchCase="'Note'">
          <p style="white-space: pre-wrap">
            {{ data[item.value] || "(No " + item.key + ")" }}
          </p>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ data[item.value] || "(No " + item.key + ")" }}
        </ng-container>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="edit_mode">
      {{ item.key }}
      <ng-container [ngSwitch]="item.key">
        <ng-container *ngSwitchCase="'Note'">
          <textarea
            rows="{{ data_edit[item.value].split('\n').length }}"
            class="form-control"
            [placeholder]="item.key"
            (keyup)="checkPendingChanges()"
            [(ngModel)]="data_edit[item.value]"
          ></textarea>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <input
            type="text"
            class="form-control"
            [placeholder]="item.key"
            (keyup)="checkPendingChanges()"
            [(ngModel)]="data_edit[item.value]"
          />
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
<ng-container *ngIf="edit_mode">
  <div class="center">
    <button class="btn btn-outline-danger btn-sm" (click)="deleteData()">
      <i class="bi bi-trash"></i>
      Delete
    </button>
    <ng-container *ngIf="pending_changes">
      &nbsp;
      <button class="btn btn-outline-primary btn-sm" (click)="saveData()">
        <i class="bi bi-save"></i>
        Save
      </button>
    </ng-container>
  </div>
  <hr />
</ng-container>
