<ng-container *ngIf="!edit_mode">
  <div class="mb-2" style="white-space: pre-wrap">
    {{ getDisplayString() }}
  </div>
</ng-container>

<ng-container *ngIf="edit_mode">
  <div class="mb-2">
    <ng-container *ngFor="let column of columns">
      {{ column.title }}
      <ng-container [ngSwitch]="column.field">
        <ng-container *ngSwitchCase="'date'">
          <input
            type="date"
            class="form-control"
            [placeholder]="column.title"
            (keyup)="checkPendingChanges()"
            (change)="checkPendingChanges()"
            [(ngModel)]="data_edit[column.field]"
          />
        </ng-container>
        <ng-container *ngSwitchCase="'time'">
          <input
            type="time"
            class="form-control"
            [placeholder]="column.title"
            (keyup)="checkPendingChanges()"
            (change)="checkPendingChanges()"
            [(ngModel)]="data_edit[column.field]"
          />
        </ng-container>
        <ng-container *ngSwitchCase="'description'">
          <textarea
            rows="{{ data_edit[column.field].split('\n').length }}"
            class="form-control"
            [placeholder]="column.title"
            (keyup)="checkPendingChanges()"
            [(ngModel)]="data_edit[column.field]"
          ></textarea>
        </ng-container>
        <ng-container *ngSwitchCase="'note'">
          <textarea
            rows="{{ data_edit[column.field].split('\n').length }}"
            class="form-control"
            [placeholder]="column.title"
            (keyup)="checkPendingChanges()"
            [(ngModel)]="data_edit[column.field]"
          ></textarea>
        </ng-container>
        <ng-container *ngSwitchCase="'complete'">
          <div class="form-check form-switch">
            <input
              type="checkbox"
              class="form-check-input"
              [id]="'complete-switch-' + data.id"
              (change)="checkPendingChanges()"
              [(ngModel)]="data_edit[column.field]"
            />
            <label
              class="form-check-label"
              [for]="'complete-switch-' + data.id"
            >
              {{ title + (data_edit[column.field] ? "" : " Not") }} Completed
            </label>
          </div>
        </ng-container>
        <ng-container *ngSwitchCase="'frequency_number'">
          <input
            type="number"
            min="0"
            max="30"
            class="form-control"
            [placeholder]="column.title"
            (keyup)="checkPendingChanges()"
            [(ngModel)]="data_edit[column.field]"
          />
        </ng-container>
        <ng-container *ngSwitchCase="'frequency_type'">
          <select
            class="form-control"
            (change)="checkPendingChanges()"
            [(ngModel)]="data_edit[column.field]"
          >
            <option value="work day">Work Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
            <option value="year">Year</option>
          </select>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <input
            type="text"
            class="form-control"
            [placeholder]="column.title"
            (keyup)="checkPendingChanges()"
            [(ngModel)]="data_edit[column.field]"
          />
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
  <div class="row">
    <div class="col-6 left">
      <button class="btn btn-outline-danger btn-sm" (click)="deleteData()">
        Delete
        <i class="bi bi-trash"></i>
      </button>
    </div>
    <div class="col-6 right">
      <ng-container *ngIf="pending_changes">
        <button class="btn btn-outline-primary btn-sm" (click)="saveData()">
          Save
          <i class="bi bi-save"></i>
        </button>
      </ng-container>
    </div>
  </div>
  <hr />
</ng-container>
