<div [id]="'app-modal-table-select-' + table" class="modal fade">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add New or Select {{ table }}</h5>
        <button
          [id]="'app-modal-table-select-' + table + '-close-button'"
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row center d-flex align-items-center">
          <div class="col-md-3 mb-2">
            <button class="btn btn-success" (click)="addNew()">
              Add new {{ table }}
            </button>
          </div>
          <div class="col-md-1 mb-2">or</div>
          <div class="col-md-8">
            <div class="col-12 mb-2">
              <select class="form-control" [(ngModel)]="id">
                <option value="" disabled selected hidden>
                  Select a {{ table }}
                </option>
                <ng-container *ngFor="let row of data">
                  <option [value]="row.id">
                    {{ row.name || "(No Name)" }}
                  </option>
                </ng-container>
              </select>
            </div>
            <ng-container *ngIf="id">
              <div class="col-12">
                <button class="btn btn-primary" (click)="selectId()">
                  Select {{ table }}
                </button>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
