<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container-fluid blur' : 'container-fluid'">
  <div class="main-title">
    <h1>Customer Relationship Manager</h1>
  </div>

  <div class="row">
    <div class="col-md-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reminders</h5>
          <div class="accordion">
            <ng-container
              *ngFor="let item of reminders | keyvalue : sortByKeyAsc"
            >
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    type="button"
                    [ngClass]="getAccordionHeaderClass(item.key)"
                    data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#reminder-accordion-' + item.key"
                  >
                    {{ getDateString(item.key) }}
                  </button>
                </h2>
                <div
                  [id]="'reminder-accordion-' + item.key"
                  [ngClass]="getAccordionBodyClass(item.key)"
                >
                  <div class="accordion-body">
                    <div class="row">
                      <div class="col-12 right">
                        <i
                          class="bi bi-download clickable"
                          title="Download Excel - Reminders"
                          (click)="downloadExcelReminders(item.key)"
                        ></i>
                      </div>
                    </div>
                    <ng-container *ngFor="let row of item.value">
                      <div class="wrap-text">
                        <span
                          *ngIf="row.repeating"
                          class="clickable"
                          title="Move to next repeat date"
                          (click)="setReminderRepeatDate(row, true)"
                        >
                          <i class="bi bi-calendar-check"></i>
                        </span>
                        <span *ngIf="!row.repeating">
                          <i class="bi bi-calendar-fill"></i>
                        </span>
                        {{ getTimeString(row.time) }}
                        <a [href]="'/crm/reminder/' + row.id">
                          {{ row.name || "(No Name)" }}
                        </a>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card">
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item clickable">
            <a
              [ngClass]="tab == 'Tasks' ? 'nav-link active' : 'nav-link'"
              (click)="setTab('Tasks')"
            >
              Tasks
            </a>
          </li>
          <li class="nav-item clickable">
            <a
              [ngClass]="tab == 'Companies' ? 'nav-link active' : 'nav-link'"
              (click)="setTab('Companies')"
            >
              Companies
            </a>
          </li>
          <li class="nav-item clickable">
            <a
              [ngClass]="tab == 'People' ? 'nav-link active' : 'nav-link'"
              (click)="setTab('People')"
            >
              People
            </a>
          </li>
        </ul>
        <ng-container *ngIf="tab == 'Tasks'">
          <div class="card-body">
            <h5 class="card-title">
              <div class="row">
                <div class="col-8">Tasks</div>
                <div class="col-4 right">
                  <i
                    class="bi bi-download clickable"
                    title="Download Excel - Tasks"
                    (click)="downloadExcelTasks()"
                  ></i>
                </div>
              </div>
            </h5>
            <ng-container *ngFor="let item of tasks | keyvalue : sortByKeyDesc">
              <h6 class="card-subtitle mt-4 mb-2 text-muted">{{ item.key }}</h6>
              <ng-container *ngFor="let row of item.value">
                <div class="form-check form-switch">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    (change)="toggleTaskCompleted(row)"
                    [(ngModel)]="row.completed"
                  />
                  <a [href]="'/crm/task/' + row.id">
                    {{ row.name || "(No Name)" }}
                  </a>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="tab != 'Tasks'">
          <div class="card-body">
            <div class="mb-2">
              <h5 class="card-title">Recent {{ tab }}</h5>
              <ng-container *ngFor="let row of recent_list">
                <div class="wrap-text">
                  <a [href]="'/crm/' + tab_table + '/' + row.id">
                    {{ row.name || "(No Name)" }}
                  </a>
                </div>
              </ng-container>
            </div>
            <div class="mb-2">
              <h5 class="card-title">Most Viewed {{ tab }}</h5>
              <ng-container *ngFor="let row of top_list">
                <div class="wrap-text">
                  <a [href]="'/crm/' + tab_table + '/' + row.id">
                    {{ row.name || "(No Name)" }}
                  </a>
                </div>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
