<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container blur' : 'container'">
  <div class="main-title">
    <h1>Customer Relationship Manager</h1>
  </div>

  <div class="row">
    <div class="col-md-6 mb-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reminders</h5>
          <ng-container *ngFor="let item of reminders | keyvalue: sortByKeyAsc">
            <h6 class="card-subtitle mt-4 mb-2 text-muted">
              {{ getDateString(item.key) }}
            </h6>
            <ng-container *ngFor="let row of item.value">
              <div class="wrap-text">
                {{ getTimeString(row.time) }}
                <a [href]="'/crm/reminder/' + row.id">
                  {{ row.name || "(No Name)" }}
                </a>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <div class="card">
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item clickable">
            <a
              [ngClass]="tab == 'Tasks' ? 'nav-link active' : 'nav-link'"
              (click)="setTab('Tasks')"
            >
              Tasks
            </a>
          </li>
          <li class="nav-item clickable">
            <a
              [ngClass]="tab == 'Companies' ? 'nav-link active' : 'nav-link'"
              (click)="setTab('Companies')"
            >
              Companies
            </a>
          </li>
          <li class="nav-item clickable">
            <a
              [ngClass]="tab == 'People' ? 'nav-link active' : 'nav-link'"
              (click)="setTab('People')"
            >
              People
            </a>
          </li>
        </ul>
        <ng-container *ngIf="tab == 'Tasks'">
          <div class="card-body">
            <h5 class="card-title">{{ tab }}</h5>
            <ng-container *ngFor="let item of tasks | keyvalue: sortByKeyDesc">
              <h6 class="card-subtitle mt-4 mb-2 text-muted">{{ item.key }}</h6>
              <ng-container *ngFor="let row of item.value">
                <div class="form-check form-switch">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    (change)="toggleCompleted(row)"
                    [(ngModel)]="row.completed"
                  />
                  <a [href]="'/crm/task/' + row.id">
                    {{ row.name || "(No Name)" }}
                  </a>
                </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <ng-container *ngIf="tab != 'Tasks'">
          <div class="card-body">
            <h5 class="card-title">Most Viewed {{ tab }}</h5>
            <ng-container *ngFor="let row of top_list">
              <div class="wrap-text">
                <a [href]="'/crm/' + top_list_table + '/' + row.id">
                  {{ row.name || "(No Name)" }}
                </a>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
