<ng-container *ngIf="!edit_mode">
  <ng-container *ngIf="link_table">
    <div class="wrap-text">
      <ng-container *ngIf="data.name">{{ data.name }} - </ng-container>
      <a [href]="'/crm/' + link_table + '/' + link_data.id">
        {{ link_data.name || "(No Name)" }}
      </a>
    </div>
  </ng-container>
  <ng-container *ngIf="!link_table">
    <ng-container *ngIf="title == 'Log' || title == 'Note'">
      <hr />
    </ng-container>
    <div class="wrap-text">{{ getDisplayString() }}</div>
  </ng-container>
</ng-container>

<ng-container *ngIf="edit_mode">
  <ng-container *ngFor="let column of columns">
    <ng-container [ngSwitch]="column.field">
      <ng-container *ngSwitchCase="'date'">
        <div class="row mb-2">
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-text">Date</span>
              <input
                type="date"
                class="form-control"
                (keyup)="checkPendingChanges()"
                (change)="checkPendingChanges()"
                [(ngModel)]="data_edit.date"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group">
              <span class="input-group-text">Time</span>
              <input
                type="time"
                class="form-control"
                (keyup)="checkPendingChanges()"
                (change)="checkPendingChanges()"
                [(ngModel)]="data_edit.time"
              />
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'time'"></ng-container>
      <ng-container *ngSwitchCase="'company_id'">
        <ng-container *ngIf="link_table == 'company'">
          <div class="row mb-2">
            <div class="col-12">
              <div class="input-group">
                <span class="input-group-text">{{ column.title }}</span>
                <div class="ms-2 mt-2">
                  <a [href]="'/crm/' + link_table + '/' + link_data.id">
                    {{ link_data.name || "(No Name)" }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'person_id'">
        <ng-container *ngIf="link_table == 'person'">
          <div class="row mb-2">
            <div class="col-12">
              <div class="input-group">
                <span class="input-group-text">{{ column.title }}</span>
                <div class="ms-2 mt-2">
                  <a [href]="'/crm/' + link_table + '/' + link_data.id">
                    {{ link_data.name || "(No Name)" }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngSwitchCase="'reminder_id'">
        <div class="row mb-2">
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">{{ column.title }}</span>
              <div class="ms-2 mt-2">
                <a [href]="'/crm/' + link_table + '/' + link_data.id">
                  {{ link_data.name || "(No Name)" }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'task_id'">
        <div class="row mb-2">
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">{{ column.title }}</span>
              <div class="ms-2 mt-2">
                <a [href]="'/crm/' + link_table + '/' + link_data.id">
                  {{ link_data.name || "(No Name)" }}
                </a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'details'">
        <div class="row mb-2">
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">{{ column.title }}</span>
              <textarea
                rows="{{ data_edit[column.field].split('\n').length }}"
                class="form-control"
                [placeholder]="column.title"
                (keyup)="checkPendingChanges()"
                [(ngModel)]="data_edit[column.field]"
              ></textarea>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <div class="row mb-2">
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">{{ column.title }}</span>
              <input
                type="text"
                class="form-control"
                [placeholder]="column.title"
                (keyup)="checkPendingChanges()"
                [(ngModel)]="data_edit[column.field]"
              />
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
  <div class="row">
    <div class="col-6 left">
      <button class="btn btn-outline-danger btn-sm" (click)="deleteData()">
        Delete {{ link_table ? "Link" : "" }}
        <i class="bi bi-trash"></i>
      </button>
    </div>
    <div class="col-6 right">
      <ng-container *ngIf="pending_changes">
        <button class="btn btn-outline-primary btn-sm" (click)="saveData()">
          Save
          <i class="bi bi-save"></i>
        </button>
      </ng-container>
    </div>
  </div>
  <hr />
</ng-container>
