<div class="content">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">CRM</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navButtons"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navButtons">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/crm/home" routerLinkActive="active">
            Home
          </a>
          <a
            class="nav-link"
            routerLink="/crm/companies"
            routerLinkActive="active"
          >
            Companies
          </a>
        </div>
      </div>
      <span *ngIf="showLogout" class="navbar-text clickable" (click)="logout()">
        Logout
        <i class="bi bi-box-arrow-right"></i>
      </span>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <br />
  <br />
  <br />
  <footer class="footer">
    <div class="container-fluid text-muted">
      <div class="row">
        <div class="col-12"></div>
      </div>
    </div>
  </footer>
</div>
