<div class="content">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand">CRM</a>
      <ng-container *ngIf="name">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navButtons"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navButtons">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/crm/home"
                routerLinkActive="active"
              >
                Home
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/crm/lists"
                routerLinkActive="active"
              >
                Lists
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/crm/companies"
                routerLinkActive="active"
              >
                Companies
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/crm/people"
                routerLinkActive="active"
              >
                People
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/crm/reminders"
                routerLinkActive="active"
              >
                Reminders
              </a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                routerLink="/crm/tasks"
                routerLinkActive="active"
              >
                Tasks
              </a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                role="button"
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                <i class="bi bi-person-circle"></i>
                {{ name }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
                <li>
                  <a class="dropdown-item" href="/crm/user">User Settings</a>
                </li>
                <li>
                  <a class="dropdown-item clickable" (click)="logout()">
                    Logout
                    <i class="bi bi-box-arrow-right"></i>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </ng-container>
    </div>
  </nav>

  <router-outlet></router-outlet>

  <br />
  <br />
</div>
