<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container-fluid blur' : 'container-fluid'">
  <div class="main-title">
    <h4>
      <small class="text-muted">{{ title }}</small>
    </h4>
    <h1>{{ data.name || "(No Name)" }}</h1>
    <ng-container *ngIf="!edit_mode">
      <button class="btn btn-link btn-sm" (click)="enterEditMode()">
        Edit
      </button>
    </ng-container>
    <ng-container *ngIf="edit_mode">
      <button class="btn btn-link btn-sm" (click)="exitEditMode()">Done</button>
    </ng-container>
  </div>
  <ng-container *ngIf="edit_mode">
    <div class="row mb-2">
      <div class="col-12 center">
        <button class="btn btn-outline-danger btn-sm" (click)="deleteData()">
          Delete
          <i class="bi bi-trash"></i>
        </button>
        <ng-container *ngIf="pending_changes">
          &nbsp;
          <button class="btn btn-outline-primary btn-sm" (click)="saveData()">
            Save
            <i class="bi bi-save"></i>
          </button>
        </ng-container>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-12">
        <div class="input-group">
          <span class="input-group-text">Name</span>
          <input
            type="text"
            [ngClass]="
              data_edit.name ? 'form-control' : 'form-control is-invalid'
            "
            (keyup)="checkPendingChanges()"
            [(ngModel)]="data_edit.name"
          />
        </div>
      </div>
    </div>
  </ng-container>

  <div class="row">
    <div class="col-lg-4">
      <div class="mb-2">
        <app-card-list-table
          [title]="'Phone'"
          [table]="'phone_' + table"
          [parent_field]="table + '_id'"
          [parent_id]="data.id"
          [columns]="phone_columns"
        ></app-card-list-table>
      </div>
      <div class="mb-2">
        <app-card-list-table
          [title]="'Email'"
          [table]="'email_' + table"
          [parent_field]="table + '_id'"
          [parent_id]="data.id"
          [columns]="email_columns"
        ></app-card-list-table>
      </div>
      <div class="mb-2">
        <app-card-list-table
          [title]="'Address'"
          [table]="'address_' + table"
          [parent_field]="table + '_id'"
          [parent_id]="data.id"
          [columns]="address_columns"
        ></app-card-list-table>
      </div>
      <div class="mb-2">
        <app-card-list-table
          [title]="'Job'"
          [table]="'link_company_person'"
          [parent_field]="table + '_id'"
          [parent_id]="data.id"
          [link_table]="table == 'company' ? 'person' : 'company'"
          [columns]="job_columns"
        ></app-card-list-table>
      </div>
      <div class="mb-2">
        <app-card-list-table
          [title]="'List'"
          [table]="
            table == 'company' ? 'link_list_company' : 'link_list_person'
          "
          [parent_field]="table + '_id'"
          [parent_id]="data.id"
          [link_table]="'list'"
          [columns]="list_columns"
        ></app-card-list-table>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="mb-2">
        <app-card-list-table
          [title]="'Note'"
          [table]="'note_' + table"
          [parent_field]="table + '_id'"
          [parent_id]="data.id"
          [columns]="note_columns"
        ></app-card-list-table>
      </div>
      <div class="mb-2">
        <app-card-list-table
          [title]="'Log'"
          [table]="'log_' + table"
          [parent_field]="table + '_id'"
          [parent_id]="data.id"
          [columns]="log_columns"
        ></app-card-list-table>
      </div>
      <div class="mb-2">
        <app-card-list-table
          [title]="'Reminder'"
          [table]="'link_' + table + '_reminder'"
          [parent_field]="table + '_id'"
          [parent_id]="data.id"
          [link_table]="'reminder'"
          [columns]="reminder_columns"
        ></app-card-list-table>
      </div>
      <div class="mb-2">
        <app-card-list-table
          [title]="'Task'"
          [table]="'link_' + table + '_task'"
          [parent_field]="table + '_id'"
          [parent_id]="data.id"
          [link_table]="'task'"
          [columns]="task_columns"
        ></app-card-list-table>
      </div>
    </div>
  </div>
</div>
