<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container blur' : 'container'">
  <div class="mainTitle">
    <ng-container *ngIf="!editMode">
      <h1>
        <ng-container *ngFor="let item of columns | keyvalue">
          {{ data[item.value] || "(No " + item.key + ")" }}
        </ng-container>
      </h1>
      <button class="btn btn-outline-primary btn-sm" (click)="enterEditMode()">
        <i class="bi bi-pencil"></i>
        Edit
      </button>
    </ng-container>
    <ng-container *ngIf="editMode">
      <ng-container *ngFor="let item of columns | keyvalue">
        <div class="row mb-2">
          <div class="col-12">
            <div class="input-group">
              <span class="input-group-text">{{ item.key }}</span>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="data_edit[item.value]"
              />
            </div>
          </div>
        </div>
      </ng-container>
      <div class="row mb-2">
        <div class="col-6 left">
          <button class="btn btn-outline-danger btn-sm" (click)="deleteData()">
            <i class="bi bi-trash"></i>
            Delete
          </button>
        </div>
        <div class="col-6 right">
          <button
            class="btn btn-outline-secondary btn-sm"
            (click)="exitEditMode()"
          >
            <i class="bi bi-x"></i>
            Cancel
          </button>
          &nbsp;
          <button class="btn btn-outline-success btn-sm" (click)="saveData()">
            <i class="bi bi-save"></i>
            Save
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>
