<app-loading *ngIf="loading"></app-loading>
<div [ngClass]="loading ? 'container blur' : 'container'">
  <div class="mainTitle">
    <h1>Companies</h1>
  </div>

  <div class="row mb-3">
    <table class="table table-light table-hover">
      <thead>
        <tr>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              [(ngModel)]="searchText"
            />
          </td>
        </tr>
        <ng-container *ngFor="let item of companies | keyvalue: sortMethod">
          <ng-container *ngIf="searchTextInRow(item.value)">
            <tr class="clickable" (click)="openCompany(item.key)">
              <td>{{ item.value.name || "(No Name)" }}</td>
            </tr>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>

  <div class="row mb-3">
    <div class="center">
      <button class="btn btn-outline-success btn-sm" (click)="addCompany()">
        <i class="bi bi-plus"></i>
        Add Company
      </button>
    </div>
  </div>
</div>
